#wrapper {
	position: relative;
    text-align: center;
    top: 7em;
    font-family:'Roboto', sans-serif;
}
#name {
	font-size: 4em;
	margin: 10px;
	color: rgb(68,68,68);
}
ul.social {
    margin: 0; 
    padding: 10px; 
    margin:;
}
li.social-item {
	padding: 15px;
	list-style-type: none;
	display: inline;
	font-size: 1.5em;
	color: rgb(68,68,68);
}
a {
	color:rgb(68,68,68);
	text-decoration: none;
}

a:visited {
	color: black;
}
a:hover {
	color: red;
	text-decoration: underline;
	text-decoration-color: red;
}

@media screen and (min-width: 568px) {
  #wrapper {
    font-size: 160%;
    
  }


